<mat-card>
    <mat-card-title>Cadastre-se</mat-card-title>
    <form [formGroup]="registerForm">
        <mat-form-field>
            <input matInput placeholder="Nome" formControlName="username">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="E-mail" formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Senha" formControlName="password">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Confirme a Senha" formControlName="passwordconfirm">
        </mat-form-field>

    </form>
</mat-card>

<button mat-raised-button (click)="onSubmitRegister()" color="primary" type="submit">
    Salvar
</button>


<button mat-raised-button color="primary" type="submit" routerLink="/login">
    Cancelar
</button>