.header {
    position: sticky;
    align-items: center;
    
}

.header a {
    align-items: center;
    text-decoration: none;
    color: #000;
    padding-left: 25px;
    
}

.header .logo {
    max-height: 32px;
}

.header  {
    padding-left: 25px;
}
