.header {
    position: sticky;
    align-items: center;
    
}

i {
    padding-right: 1px;
    transform: translate(0%, 15%)
}

.header a {
    align-items: center;
    text-decoration: none;
    color: #000;
    padding-left: 25px;
    
}

.header .logo {
    max-height: 45px;
}

.header  {
    padding-left: 25px;
}


.button { 
    position: absolute;
    top: 13px;
    right: 10px;	
    background-color: #D01D1D;
    color: white;    
}