<mat-toolbar class="header">
    <span>
        <a routerLink="">
            <img class="logo" src="assets/logo.png" alt="logo">
        </a>
    </span>
    <span>
        <a routerLink="/home">
            Clínica Médica
        </a>
    </span>

    <span>
        <a routerLink="/medicos">
            Médicos
        </a>
    </span>

    <span>
        <a routerLink="/pacientes">
            Pacientes
        </a>
    </span>

    <span>
        <a routerLink="/consultas">
            Consultas
        </a>
    </span>

    <span *ngIf="autenticado === true">
        <a (click)="deslogar()">
            <button >Deslogar</button>
        </a>
    </span>

    

</mat-toolbar>