/* .sidenav {
    width: 17%;
}

.sidenav i {
    padding-right: 10px;
} */

/* .content {
    position: fixed;
    padding: 16px;
    background-color: #FFF;
} */
mat-sidenav-container {
    height: 100%;
    position: initial;
}

mat-sidenav,
mat-sidenav-content {
    padding: 16px;
}

mat-sidenav {
    width: 18%;
    height: 100%;
}

.button-logout {
    color: #D01D1D;
}