<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="73">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/home">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>

            <a mat-list-item routerLink="/medicos">
                <i class="material-icons">
                    account_circle
                </i>
                Médicos
            </a>

            <a mat-list-item routerLink="/pacientes">
                <i class="material-icons">
                    people
                </i>
                Pacientes
            </a>

            <a mat-list-item routerLink="/consultas">
                <i class="material-icons">
                    add_circle
                </i>
                Adicionar Consulta
            </a>

            <a mat-list-item class="button-logout" (click)="deslogar()">
                <i class="material-icons">
                    logout
                </i>
                Sair
            </a>
        </mat-nav-list>
        <router-outlet></router-outlet>
    </mat-sidenav>

</mat-sidenav-container>