<mat-card>
    <mat-card-title>Novo Cadastro de Veículo</mat-card-title>
    <form [formGroup]="carForm">
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="car.name" name="name">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Cor" [(ngModel)]="car.color" name="color">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="Ano" [(ngModel)]="car.year" name="year">
        </mat-form-field>

        <mat-form-field>]
            <select class="form-control" formControlName="brandForm" name="brand" id="brand">
                <option *ngFor="let b of brand" value="{{b._id}}" id="{{b._id}}">{{b.name}}</option>
            </select>
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click)="createCar()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancelar()" color="primary">
    Cancelar
</button>