<mat-card>
    <mat-card-title>Remover Paciente</mat-card-title>
    <form [formGroup]="pacienteForm">
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="paciente.nome" name="name" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Data de Nascimento" type="date" [(ngModel)]="paciente.dataNascimento" name="dtnasc" disabled>
        </mat-form-field>
        
    </form>
</mat-card>

<button mat-raised-button (click)="deletePaciente()" color="warn">
    Remover
</button>

<button mat-raised-button (click)="cancelar()" color="primary">
    Cancelar
</button>

