<app-header></app-header>
<app-nav></app-nav>
<mat-card>
    <mat-card-title class="title">Atualização de Consulta</mat-card-title>
    <form [formGroup]="consultaForm">

        <mat-form-field>
            <mat-select matSelect placeholder="Pacientes" formControlName="idPaciente" name="idPaciente">
                <mat-option *ngFor="let p of paciente" value="{{p.id}}" id="{{p.id}}">{{p.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select matSelect placeholder="Medicos" formControlName="idMedico" name="idMedico">
                <mat-option *ngFor="let m of medico" value="{{m.id}}" id="{{m.id}}">{{m.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="date" formControlName="data">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="time" formControlName="time">
        </mat-form-field>

    </form>
</mat-card>

<button mat-raised-button class="btn1" (click)="updateConsulta()" color="primary">
    Salvar
</button>

<button mat-raised-button class="btn2" (click)="cancelar()" color="primary">
    Cancelar
</button>
<app-footer></app-footer>