<app-header></app-header>
<mat-card *ngIf="paciente">
    <mat-card-title >Atualização de Registro do Paciente</mat-card-title>
    <small>Você está alterando os dados do paciente: <strong>{{paciente.nome}}</strong></small>
    <form [formGroup]="pacienteForm">
        <mat-form-field>
            <input matInput placeholder="Nome" formControlName="nome" name="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Data de Nascimento" type="date" formControlName="dataNascimento" name="dtnasc">
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button class="btn1" (click)="updatePaciente()" color="primary">
    Salvar
</button>

<button mat-raised-button class="btn2" (click)="cancelar()" color="primary">
    Cancelar
</button>
<app-footer></app-footer>
