<mat-card>
    <mat-card-title>Novo Cadastro de Marca</mat-card-title>
    <form [formGroup]="pacienteForm">
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="paciente.nome" name="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Data de Nascimento" type="date" [(ngModel)]="paciente.nome" name="dtnasc">
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click)="createPaciente()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancelar()" color="primary">
    Cancelar
</button>

