<app-header></app-header>
<div>
    <div class="div-logo">
        <a routerLink="">
            <img class="logo" src="assets/logo.png" alt="logo">
        </a>
    </div>

    <div *ngIf="exibirCadastrar">
        <div class="login">
            <mat-card>
                <mat-card-title>Efetue o login para utilizar o sistema</mat-card-title>
                <form class="form has-text-centered" [formGroup]="loginForm">

                    <input class="input" placeholder="Nome" formControlName="login">
                    <div *ngIf="loginLoginIsValid()">
                        <span
                            [ngClass]="loginLoginIsValid()? 'valid-login material-icons' : 'invalid-login material-icons'">check</span>
                    </div>

                    <div *ngIf="!loginLoginIsValid()">
                        <span
                            [ngClass]="loginLoginIsValid()? 'valid-login material-icons' : 'invalid-login material-icons'">error</span>
                    </div>

                    <input class="input" placeholder="Senha" formControlName="senha" type="password">
                    <div *ngIf="senhaLoginIsValid()">
                        <span
                            [ngClass]="senhaLoginIsValid()? 'valid-senha material-icons' : 'invalid-senha material-icons'">check</span>
                    </div>

                    <div *ngIf="!senhaLoginIsValid()">
                        <span
                            [ngClass]="senhaLoginIsValid()? 'valid-senha material-icons' : 'invalid-senha material-icons'">error</span>
                    </div>

                </form>
            </mat-card>
        </div>

        <div class="login-button">
            <button mat-raised-button color="primary" (click)="onSubmitLogin()" type="submit">
                Entrar
            </button>
        </div>
        <div class="register-button">
            <button mat-raised-button (click)="abrirCadastrar()">
                Registre-se
            </button>
        </div>
    </div>


    <div *ngIf="!exibirCadastrar">
        <div class="registro">
            <mat-card>
                <mat-card-title>Preencha os campos abaixo</mat-card-title>
                <form [formGroup]="registerForm">

                    <input class="input" placeholder="Nome de Usuário" formControlName="login">
                    <div *ngIf="loginRegistroIsValid()">
                        <span
                            [ngClass]="loginRegistroIsValid()? 'valid-login-registro material-icons' : 'invalid-login-registro material-icons'">check</span>
                    </div>

                    <div *ngIf="!loginRegistroIsValid()">
                        <span
                            [ngClass]="loginRegistroIsValid()? 'valid-login-registro material-icons' : 'invalid-login-registro material-icons'">error</span>
                    </div>

                    <input class="input" placeholder="Senha" formControlName="senha">
                    <div *ngIf="senhaRegistroIsValid()">
                        <span
                            [ngClass]="senhaRegistroIsValid()? 'valid-senha-registro material-icons' : 'invalid-senha-registro material-icons'">check</span>
                    </div>

                    <div *ngIf="!senhaRegistroIsValid()">
                        <span
                            [ngClass]="senhaRegistroIsValid()? 'valid-senha-registro material-icons' : 'invalid-senha-registro material-icons'">error</span>
                    </div>

                    <input class="input" placeholder="Confirme a Senha" formControlName="senhaconfirm">
                    <div *ngIf="confirmSenhaRegistroIsValid()">
                        <span
                            [ngClass]="confirmSenhaRegistroIsValid()? 'valid-senha-confirm-registro material-icons' : 'invalid-senha-confirm-registro material-icons'">check</span>
                    </div>

                    <div *ngIf="!confirmSenhaRegistroIsValid()">
                        <span
                            [ngClass]="confirmSenhaRegistroIsValid()? 'valid-senha-confirm-registro material-icons' : 'invalid-senha-confirm-registro material-icons'">error</span>
                    </div>
                </form>
            </mat-card>
        </div>

        <div class="login-button">
            <button mat-raised-button color="primary" (click)="onSubmitRegister()" type="submit">
                Salvar
            </button>

        </div>
        <div class="register-button">
            <button mat-raised-button type="submit" (click)="fecharCadastrar()">
                Cancelar
            </button>
        </div>
    </div>
</div>
<app-footer></app-footer>