<app-header></app-header>
<app-nav></app-nav>
<mat-card *ngIf="consulta">
    <mat-card-title class="title">Remover Consulta</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="{{consulta.idPaciente}}" name="idPaciente" disabled />
        </mat-form-field>     
        
        <mat-form-field>
            <input matInput placeholder="{{consulta.idMedico}}" name="idMedico" disabled />
        </mat-form-field>  
        
        <mat-form-field>
            <input matInput placeholder="{{consulta.data}}" name="data" disabled />
        </mat-form-field>        
    
    </form>
</mat-card>

<button mat-raised-button class="btn1" (click)="deleteConsulta()" color="warn">
Remover
</button>

<button mat-raised-button class="btn2" (click)="cancelar()" color="primary">
Cancelar
</button>
<app-footer></app-footer>