<mat-card *ngIf="medico && especialidade">
    <mat-card-title>Remover Registro de Médico</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="{{medico.nome}}" name="nome" disabled />
        </mat-form-field>

        
        <mat-form-field>
            <input matInput placeholder="{{especialidade.nome}}" name="especialidade" disabled />
        </mat-form-field>
    
    </form>
</mat-card>

<button mat-raised-button (click)="deleteMedico()" color="warn">
Remover
</button>

<button mat-raised-button (click)="cancelar()" color="primary">
Cancelar
</button>